<!DOCTYPE html>
<html>
    <body>

    <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Black.png" alt="Paris" width="200" height="100">
    
    </body>
    <head>
        <style>
        p {
          letter-spacing: 5px;
          text-align: center;
        }
        
        </style>
        </head>
    

    <h2 style="font-family: Arial, Helvetica, sans-serif; color:black">What Is Spotify</h2>
    <p style="font-family: Arial, Helvetica, sans-serif; color: black;">Spotify is a digital music, podcast, and video service that gives you access to millions of songs and other content from creators all over the world.

        Basic functions such as playing music are totally free, but you can also choose to upgrade to Spotify Premium.
        
        Whether you have Premium or not, you can:
        
        Get recommendations based on your taste

        Build collections of music and podcasts
        And more!

        Spotify is available across a range of devices, including computers, phones, tablets, speakers, TVs, and cars,
         and you can easily transition from one to another with Spotify Connect.</p>


    <p><a href="https://www.spotify.com/my-en/signup">Click Here To Register Spotify!</a></p>
<p><a href="https://accounts.spotify.com/en/login">Click Here to Login Spotify!</a></p>




<head>
<style>
     pre {text-align: center;}
  h2{text-align: center;}
img {
    max-width: 100%;
   height: auto;
  
}
</style>
</head>


</html>

<div class="center"><img class="img-responsive" src="assets/images/spotifyqr.jpeg"></div>
